

.header {
  background-color: #c9c600;
  color: #000bad;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #000bad;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover{
  background-color: #ddd;
  color: black;
}

div.polaroid {
  width: 32.6%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-right: 10px;
  padding-top: 10px;
  float:left;
}

div.polaroid img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


div.container {
  text-align: center;
  padding: 10px 20px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}